<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Step1File" value="d:\\step1.csv" />
    <add key="Step2File" value="d:\\step2.csv" />
    <add key="Step3File" value="d:\\step3.csv" />
    <add key="ForbidWaitHour" value="3" />
    <add key="StartupWaitMinute" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=d:\\db.sqlite" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.net>
    <defaultProxy enabled="false">
      <proxy proxyaddress="http://127.0.0.1:8888/" />
    </defaultProxy>
  </system.net>
</configuration>